#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
  text-align: left;
}

.header h2, p {
  text-align: center;
  font-size: medium;
}

.profile-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 3px;
  border-radius: 50%;
}

.profile-image {
  background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
  width: 3.12rem;
  height: 3.12rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid transparent; /* borda interna branca igual ao Instagram */
}
